$slider_width: 290px;
.layout {
  .layout-header {
    background: $header_color;
  }
  .layout-container {
    @include layout_width;
    margin: 50px auto !important;
    position: relative;
    @media screen and (max-width: $change_size) {
      width: 100%;
    }
    .content {
      margin-right: $slider_width + 15px;
      @media screen and (max-width: $change_size) {
        margin: 0 15px;
      }
    }
    .container-slider {
      width: $slider_width;
    }
  }
  .layout-footer {
  }
}
