@mixin flex($iscenter, $type) {
  display: flex;
  @if $iscenter {
    @if $type == ver {
      align-items: center;
      justify-content: space-between;
    }
  }
}

@mixin layout_width {
  max-width: 1400px;
  margin: 0 auto !important;
  width: 90%;
}

@mixin motal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

@mixin topic_type_active($radius_size) {
  background: $toplic_main_color;
  color: $while_color;
  border-radius: $radius_size;
}